.gridPhotos{
    display: grid;
    gap: 20px;
    grid-template-areas: "A0 A1 A2"
"A0 A3 A3"
"A4 A3 A3";
    width: 100%;
    height: 460px;
}
.photo{
    border-radius: 20px;
    background-color: #E0E0DC;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}
.hoverGround{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 134, 142, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
}
.buttonFav{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    justifyContent: center;
    alignItems: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
}
.photo:hover .hoverGround{
    display: flex;
}
.gridPhotos h3{
    margin: 0 0 0 30px;
}
.spinner {
    display: block;
    animation: rotate 2s linear infinite;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
}
.spinner .path {
    stroke: #FF868E;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
.iconBox{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
}