.rContainerBG{
    background: #FBE0DC;
    border-radius: 20px;
    width: 680px;
    height: 840px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rContainerBG img{
    position: absolute;
    right: 0;
}