@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
body{
    background-color: #F8F8F7;
}
h1,h2,h3,h4,h5,select,option{
    font-family: 'Jost';
    font-style: normal;
    margin: 0;
}
h1{
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #1D1D1D;
}
h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #1D1D1D;
}
h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;
}
h4,select,option{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}
h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}
body::-webkit-scrollbar{
    display: none;
}